:root {
    --width: 768px;
    --padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
}

.new-game-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#new-game-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.new-game-header {
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: calc(100vw - var(--padding) * 2);
    margin-bottom: 1.5rem;
    gap: 0.5rem;
}

input[type="radio"] {
    display: none;
}

label[for="player2-cpu"],
label[for="player2-human"] {
    border: 1px solid #333;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #333;
    color: white;
}

button {
    cursor: pointer;
}

.main-body-container {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
}

.game-board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
}

.board-square {
    border: 1px solid black;
    display: grid;
    place-items: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.board-square {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    #player-turn-container {
        display: flex;
        justify-content: space-around;
    }

    .main-body-container {
        max-width: 768px;
        margin: 0 auto;
    }

    .new-game-form-container {
        width: fit-content; 
    }

    #new-game-form {
        max-width: calc(var(--width) - var(--padding) * 2);
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-row {
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }

    label {
        min-width: 5rem; 
    }

    .footer-container {
        flex-direction: row;
        justify-content: center;
    }
}