@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');

:root {
    --width: 768px;
    --padding: 20px;
    --btnSize: 2.5rem;
    --black: #000000;
    --darkGrey: #333333;
    --lightRed: #FF7676;
    --lightBlue: #7676FF;
    --softPink: #F54EA2;
    --paleYellow: #FFFEFA;
    --lightGrey: #D3D3D3;
    --veryLightGrey: #E4E4E4;
    --lightGreyRed: #FDE3E0;
    --redSquare: 255, 188, 188;
    --blueSquare: 118, 118, 255;
    --greySquare: 211, 211, 211;
    --borderThickness: 0.125rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    padding: var(--padding);
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-optical-sizing: auto;
    font-style: normal;
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.new-game-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-game-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(80%, 90vw);
    overflow: hidden;
    overflow-y: auto;
    padding: var(--padding);
    border-radius: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.new-game-header {
    position: relative;
    text-align: center;
    word-break: break-all;
    margin-bottom: 2rem;
    min-height: var(--btnSize);
    padding: 0 var(--btnSize);
}

#close-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: var(--btnSize);
    height: var(--btnSize);
    padding: 0;
}

#close-btn:hover {
    transform: translateY(calc(-50% - 1px));
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2rem;
    gap: 0.5rem;
    word-break: break-all;
}

form .form-row:nth-child(2) {
    margin-bottom: 1rem;
}

form .form-row:nth-child(3) {
    margin-bottom: 3rem;
}

.form-btns {
    margin-bottom: 0;
}

input[type="text"] {
    font-size: 1.25rem;
    border-radius: 0.5em;
    padding: 0.5rem;
    border: var(--borderThickness) solid var(--lightGrey);
    transition: border;
    transition-duration: 200ms;
    width: 100%;
}

.form-row:has(input:disabled) label {
    color: grey;
    cursor: not-allowed;
}

input[type="text"]:disabled {
    cursor: not-allowed;
}

input[type="text"]:focus {
    outline: none;
    background-color: #FFFFFF;
    border: var(--borderThickness) solid var(--softPink);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;
}

label[for="player1-name"],
label[for="player2-name"] {
    text-transform: none;
    font-weight: bold;
}

input[type="radio"] {
    display: none;
}

label[for="player2-cpu"],
label[for="player2-human"] {
    cursor: pointer;
    text-align: center;
    border-radius: 4rem;
    padding: calc(var(--padding) / 2);
    border: var(--borderThickness) solid var(--black);
    word-break: break-all;
    transition: background-color;
    transition-duration: 200ms;  
}

label[for="player2-cpu"]:hover,
label[for="player2-human"]:hover {
    background-color: var(--veryLightGrey);
}

input[type="radio"]:checked + label {
    background-color: var(--darkGrey);
    color: white;
}

button {
    outline: none;
    border: none;
    transition: box-shadow, transform;
    transition-duration: 200ms;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 1.0625rem;
    background: linear-gradient(90deg,var(--lightRed) 0,var(--softPink) 100%);
    color: var(--paleYellow);
    border-radius: 4rem;
    padding: calc(var(--padding) / 1.425) calc(var(--padding) / 2);
    cursor: pointer;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;
    transform: translateY(-1px);
}

.main-body-container {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
}

.header {
    font-size: 1.5rem;
    margin-bottom: 4rem;
    font-family: "Permanent Marker", cursive;
}

#player-turn-container {
    margin-bottom: 1rem;
}

#player-display-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

#game-board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    aspect-ratio: 1/1;
    margin-bottom: 1rem;
    gap: 1rem;
    font-family: "Permanent Marker", cursive;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.board-square {
    border-radius: 1rem;
    display: grid;
    place-items: center;
    background-color: #EEE;
    cursor: pointer;
    box-shadow: rgba(var(--greySquare), 0.16) 0px 1px 4px, rgb(var(--greySquare)) 0px 0px 0px 3px;
}

.player-marker-x {
    color: var(--lightRed);
    box-shadow: rgba(var(--redSquare), 0.16) 0px 1px 4px, rgb(var(--redSquare)) 0px 0px 0px 3px;
}

.player-marker-o {
    color: var(--lightBlue);
    box-shadow: rgba(var(--blueSquare), 0.16) 0px 1px 4px, rgb(var(--blueSquare)) 0px 0px 0px 3px;
}

@media only screen and (min-width: 768px) {
    .main-body-container {
        max-width: 768px;
        margin: 0 auto;
    }

    .new-game-form-container {
        width: fit-content; 
    }

    #new-game-form {
        max-width: calc(var(--width) - var(--padding) * 2);
    }

    label[for="player2-cpu"],
    label[for="player2-human"] {
        min-width: fit-content;
        flex: 1;
    }

    button {
        min-width: fit-content;
        width: 11rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-row {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    label {
        min-width: fit-content;
    }

    .form-row:has(.radio-btns) {
        flex-wrap: wrap;
    }

    .form-row:has(.radio-btns) input[type="text"] {
        flex: 1;
    }

    .form-btns {
        display: flex;
        word-break: break-all;
        flex-wrap: wrap;
    }

    .footer-container {
        flex-direction: row;
        justify-content: center;
    }
}