@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fuzzy+Bubbles:wght@400;700&family=Playpen+Sans:wght@100..800&display=swap');

:root {
    --width: 768px;
    --padding: 20px;
    --green: #84C653;
    --greenHover: #93DC5C;
    --greenHoverBdr: #1a9047;
    --black: #000000;
    --lighterBlack: #333333;
    --grey: #D3D3D3;
    --greyHover: #E4E4E4;
    --borderThickness: 0.125rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    padding: var(--padding);
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.new-game-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-game-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(80%, 90vw);
    overflow: hidden;
    overflow-y: auto;
    padding: var(--padding);
    border-radius: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.new-game-header {
    text-align: center;
    word-break: break-all;
    margin-bottom: 1rem;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2rem;
    gap: 0.5rem;
    font-weight: bold;
    word-break: break-all;
}

input[type=text] {
    font-size: 1.25rem;
    border-radius: 0.5em;
    padding: 0.5rem;
    border: var(--borderThickness) solid var(--grey);
    transition-property: all;
    transition-duration: 200ms;
    width: 100%;
}

.form-row:has(input:disabled) label {
    color: grey;
    cursor: not-allowed;
}

input[type='text']:disabled {
    cursor: not-allowed;
}

input[type='text']:focus {
    outline: none;
    background-color: #FFFFFF;
    border: var(--borderThickness) solid var(--green);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="radio"] {
    display: none;
}

label[for="player2-cpu"],
label[for="player2-human"] {
    cursor: pointer;
    text-align: center;
    border-radius: 4rem;
    padding: calc(var(--padding) / 2);
    border: var(--borderThickness) solid var(--black);
    word-break: break-all;
    font-weight: bold;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 200ms;  
}

label[for="player2-cpu"]:hover,
label[for="player2-human"]:hover {
    background-color: var(--greyHover);
}

input[type="radio"]:checked + label {
    background-color: var(--lighterBlack);
    color: white;
}

button {
    outline: none;
    border: none;
    transition-property: all;
    transition-duration: 200ms;
    font-family: "Playpen Sans", cursive;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.0625rem;
    background-color: var(--green);
    border-radius: 4rem;
    padding: calc(var(--padding) / 2);
    cursor: pointer;
}

button:hover {
    background-color: var(--greenHover);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, var(--greenHoverBdr) 0px 0px 0px 0.125rem;
}

.header {
    margin-bottom: 1rem;
}

#player-display-container {
    margin-bottom: 1rem;
}

#player-turn-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.main-body-container {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
}

#game-board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
    margin-bottom: 1rem;
}

.board-square {
    border: 1px solid black;
    display: grid;
    place-items: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.board-square {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .main-body-container {
        max-width: 768px;
        margin: 0 auto;
    }

    .new-game-form-container {
        width: fit-content; 
    }

    #new-game-form {
        max-width: calc(var(--width) - var(--padding) * 2);
    }

    label[for="player2-cpu"],
    label[for="player2-human"] {
        min-width: fit-content;
        flex: 1;
    }

    .form-row > button {
        min-width: fit-content;
        width: 11rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-row {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    label {
        min-width: 4.25rem; 
    }

    .form-row:has(.radio-btns) {
        flex-wrap: wrap;
    }

    .form-row:has(.radio-btns) input[type="text"] {
        flex: 1;
    }

    .form-btns {
        display: flex;
        word-break: break-all;
        flex-wrap: wrap;
    }

    .footer-container {
        flex-direction: row;
        justify-content: center;
    }
}