* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px solid red;
}

body {
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
}

.main-body-container {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .main-body-container {
        max-width: 1000px;
    }

    .form-buttons {
        display: flex;
        flex-direction: row;
    }
}